@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --color-degrade-cinza: hsl(200, 21%, 43%);
    --color-degrade-cinza-transparente: hsl(200, 21%, 43%, 0.7);
    --color-dourado-base: rgb(207, 163, 91);
    --color-azul-base: rgb(0 ,136, 182);
    --color-botao-wpp: rgb(1, 180, 100);
    --breakpoint-3xl: 1920px;
    --breakpoint-xs: 425px;
}

@utility text-titulo-cards {
  font-size: var(--text-xl);

  @variant sm { font-size: var(--text-xl); }
}

@utility text-cards {
  font-size: var(--text-base);

  @variant sm { font-size: var(--text-lg); }
  @variant md { font-size: var(--text-xl); }
  @variant lg { font-size: var(--text-lg); }
}

@utility text-medio {
  font-size: var(--text-xl);     

  @variant sm { font-size: var(--text-2xl); }
  @variant md { font-size: var(--text-3xl); }
  @variant lg { font-size: var(--text-4xl); }
}

@source "./index.html";
@source "./src/**/*.{js,jsx,ts,tsx,html}";

@keyframes marquee {
  0%   { transform: translateX(0%) }
  100% { transform: translateX(-50%) }
}

@utility animate-marquee {
  animation: marquee 20s linear infinite;
}