@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";



@theme {
    --color-degrade-cinza: hsl(200, 21%, 43%)
}

@theme {
    --color-degrade-cinza-transparente: hsl(200, 21%, 43%, 0.7)
}

@theme {
    --color-dourado-base: rgb(206, 163, 91)
}
@theme {
    --font-montserrat: "Montserrat", sans-serif
}

@theme { 
    --color-botao-wpp: rgb(1, 180, 100);
}

@source "./index.html";
@source "./src/**/*.{js,jsx,ts,tsx,html}";

@keyframes marquee {
  0%   { transform: translateX(0%) }
  100% { transform: translateX(-50%) }
}

@utility animate-marquee {
  animation: marquee 20s linear infinite;
}