@import "tailwindcss";

@theme {
    --color-degrade-cinza: hsl(200, 21%, 43%)
}

@theme {
    --color-cinza-transparente: hsla(201, 21%, 43%, .3)
}

@source "./index.html";
@source "./src/**/*.{js,jsx,ts,tsx,html}";

@keyframes marquee {
  0%   { transform: translateX(0%) }
  100% { transform: translateX(-50%) }
}

@utility animate-marquee {
  animation: marquee 20s linear infinite;
}